---
import Layout from '../layouts/Layout.astro'

import { profile } from '@/settings'
import { publications } from '@/data/cv'
import ProfilePictures from '@/assets/profile_picture.jpeg'
import Hero from '@/components/ui/Hero.astro'
import Grid from '@/components/ui/Grid.astro'
import ArticleList from '@/components/ui/ArticleList.astro'

const { fullName, title, institute, research_areas } = profile

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- Hero Section -->
	<section class='flex items-center gap-12 border-b pb-12'>
		<Hero
			fullName={fullName}
			title={title}
			institute={institute}
			profilePicture={ProfilePictures}
		/>
	</section>

	<!-- Song of the Month -->
	<section class='py-12 border-b'>
		<Grid gridTitle='Song of the Month' gridItems={research_areas} />
		<iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/track/5y2ijHECwFYWqcAHKTZgzD?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
	</section>
	

	<!-- Recent Publications -->
	<section class='py-12 border-t'>
		<ArticleList listTitle='Recent Publications' listItems={publications} />
	</section>
</Layout>
